<div class="title">
  <i class="dropdown icon"></i>
  {{agent.name}}
</div>

<div class="content">
  <div class="ui basic segment">
    <div class="ui small header">
      Base URI
    </div>
    <div class="ui">
      {{agent.baseURI}}
    </div>
    <div class="ui tismallny header">
      Behavior
    </div>
    <div class="ui">
      {{agent.behavior}}
    </div>
    <div class="ui small header">
      Description
    </div>
    <div class="ui">
      {{agent.description}}
    </div>
    <div class="ui button">Edit</div>
    <!--<div class="ui button" onclick="{{action execute 'close' 0}}">Close</div>
    <div class="ui button" onclick="{{action execute 'open' 1}}">Open two</div>-->
  </div>
</div>
