<div local-class="agent-item-header clearfix">
  <div local-class="agent-item-header-text" >  {{activeEndpoint.label}}</div>
          <button {{action "deleteendpoint"}} class="ui red icon button rightmost">
            <i class="minus icon no-side-margins"></i>
         </button>
</div>



 <div local-class="item-seperation">
<hr><i> URI</i>
</div>

 <div local-class="item-row clearfix">
        <div local-class="item-row-title" data-tooltip="Agent's URI" data-position="top left">
               URI:
        </div>

           <div local-class="item-row-content">
             <div local-class="item-row-value" >
                   {{activeEndpoint.uri}}
             </div>
           </div>
</div>

<div local-class="item-seperation">
<hr><i> Label</i>
</div>


            <div local-class="item-row clearfix">
              <div local-class="item-row-title" data-tooltip="Manipulate Endpoint's Label" data-position="top left">Label:</div>
              {{#if this.editEndpointLabel}}
                <div local-class="item-row-content-edit">
                  <div local-class="item-row-value">
                    {{input value=activeEndpoint.label}}
                  </div>

                  <div local-class="item-row-buttons">

                    <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                      <i class="close icon no-side-margins"></i>
                    </button>

                    <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeEndpoint.uri "http://www.w3.org/2000/01/rdf-schema#label" activeEndpoint.label "http://www.w3.org/2001/XMLSchema#string"}}>
                      <i class="pencil icon no-side-margins"></i>
                    </button>

                  </div>
                </div>
              {{/if}}

              {{#unless this.editEndpointLabel}}
                <div local-class="item-row-content" >
                  <div local-class="item-row-value">
                    {{activeEndpoint.label}}
                  </div>
                  <div local-class="item-row-buttons">
                    <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "endpointlabel" activeEndpoint.label}}>
                      <i class="edit icon no-side-margins"></i>
                    </button>
                  </div>
                </div>
              {{/unless}}

            </div>

<!-- ParamValue  -->
<div local-class="item-seperation">
<hr><i> ParamValue</i>
</div>

            <div local-class="item-row clearfix">
              <div local-class="item-row-title" data-tooltip="Manipulate Endpoint's Capability" data-position="top left">Capability:</div>
              {{#if this.editCapability}}
                <div local-class="item-row-content-edit">
                  <div local-class="item-row-value">
                    {{input value=activeEndpoint.capability}}
                  </div>

                  <div local-class="item-row-buttons">

                    <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                      <i class="close icon no-side-margins"></i>
                    </button>

                    <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeEndpoint.uri "http://www.ajan.de/ajan-ns#capability" activeEndpoint.capability "http://www.w3.org/2001/XMLSchema#string"}}>
                      <i class="pencil icon no-side-margins"></i>
                    </button>

                  </div>
                </div>
              {{/if}}

              {{#unless this.editCapability}}
            <div local-class="item-row-content">
              {{#if (eq activeEndpoint.capability "")}}
              <div class="ajan-mandatory">define a Capability name (paramValue)!</div>
              {{/if}}
              <div local-class="item-row-value">
                {{activeEndpoint.capability}}
              </div>
              <div local-class="item-row-buttons">
                <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "capability" activeEndpoint.capability}}>
                  <i class="edit icon no-side-margins"></i>
                </button>
              </div>
            </div>
              {{/unless}}

            </div>
    <!----------- EndpointconnectedEvent-------->
<div local-class="item-seperation">
<hr><i> Event</i>
</div>

  <div local-class="item-row clearfix">
        <div local-class="item-row-title">
          <div data-tooltip="Manipulate Endpoint's Event" data-position="top left">
             Events:
          </div>
        </div>
        {{#if this.editEndpointEvent}}
          <div local-class="border-line">
         {{#checkbox-list
           items=availableEventsandGoals
           checked=selectedConnectedEvents

           onCheck=(action "handleCheck")
           as |list|
           }}

                <div local-class="block">

                           <div local-class="bloc1" >
                             {{list.checkbox}}

                           </div>

                           <div local-class="bloc2" data-tooltip={{ list.item.uri}} data-position="top left"  >
                             {{ list.item.label}}
                           </div>
                 </div>

         {{/checkbox-list}}


   <div local-class="buttonrow">
       <button local-class="item-row-apply" class="ui positive right icon button" {{action "savenewendpointevents" Selecteditems}}>
         <i class="pencil icon no-side-margins"></i>
       </button>

       <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
         <i class="close icon no-side-margins"></i>
       </button>
   </div>
   </div>
        {{/if}}

        {{#unless this.editEndpointEvent}}
  <div local-class="item-row-content" local-class="block">
    {{#if (is-empty activeEndpoint.events)}}
    <div class="ajan-mandatory">select a Event!</div>
    {{/if}}
    <div local-class="item-row-value" local-class="bloc2">
      {{#each activeEndpoint.events as |event|}}
      <div local-class="bullet">
        <li>
          <div local-class="bloc3" data-tooltip={{ event.uri}} data-position="top left">
            <div>{{event.label}}  </div>
          </div>
        </li>
      </div>
      {{/each}}

    </div>
    <div local-class="item-row-buttons">
      <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "endpointevent"  activeEndpoint.events}}>
        <i class="edit icon no-side-margins"></i>
      </button>
    </div>
  </div>
        {{/unless}}
      </div>




