<!-- Menu -->
<div id='agents-overview'>

  <div local-class="agent-list-header clearfix">
    <h3>Agent Definitions</h3>
  </div>

  {{#ui-accordion exclusive=false}}
  <button class="ui yellow icon button rightmost" {{action "createagent"}} local-class="right-aligned ui button">
    <i class="add icon no-side-margins"></i>
  </button>

  <div class="active title" style="background-color:#A3A4DC ">
    <i class="dropdown icon"></i><b><font size="4">Agent Templates</font></b>
  </div>

  <ul class="active content" local-class="agent-list-content">
    {{#each this.availableAgents as |value|}}
    <li data-value={{value.uri}} data-tooltip={{value.uri}} data-position="top left" class="item" local-class="agent-list-item">
      <button {{action "setActiveAgent" value }}>
        <img local-class="agent-list-item-icon" src="/icons/template.png" />
        <div>{{value.label}}</div>
      </button>
      <i></i>
    </li>
    {{/each}}
  </ul>
  {{/ui-accordion}}

  <br />

  {{#ui-accordion exclusive=false}}
  <button {{action "createbehavior" "initial"}} class="ui yellow icon button rightmost" local-class="right-aligned ui button">
    <i class="add icon no-side-margins"></i>
  </button>
  <div class="active title" style="background-color:#A3A4DC">
    <i class="dropdown icon"></i><b><font size="4">Initial Behaviors</font></b>
  </div>
  <ul class="active content" local-class="agent-list-content">

    {{#each this.availableBehaviors.initial as |value|}}
    {{#if value.uri}}
    <li data-value={{value.uri}} class="item" data-tooltip={{value.uri}} data-position="top left" local-class="agent-list-item">
      <button {{action "setActiveBehavior" value "initial"}}>{{value.label}} </button>
      <i></i>
    </li>
    {{/if}}
    {{/each}}
  </ul>
  {{/ui-accordion}}

  <br />

  {{#ui-accordion exclusive=false}}
  <button {{action "createbehavior" "final"}} class="ui yellow icon button rightmost" local-class="right-aligned ui button">
    <i class="add icon no-side-margins"></i>
  </button>
  <div class="active title" style="background-color:#A3A4DC">
    <i class="dropdown icon"></i><b><font size="4">Final Behaviors</font></b>
  </div>
  <ul class="active content" local-class="agent-list-content">
    {{#each this.availableBehaviors.final as |value|}}
    {{#if value.uri}}
    <li data-value={{value.uri}} class="item" data-tooltip={{value.uri}} data-position="top left" local-class="agent-list-item">
      <button {{action "setActiveBehavior" value "final"}}>{{value.label}} </button>
      <i></i>
    </li>
    {{/if}}
    {{/each}}
  </ul>
  {{/ui-accordion}}

  <br />

  {{#ui-accordion exclusive=false}}
  <button {{action "createbehavior"}} class="ui yellow icon button rightmost" local-class="right-aligned ui button">
    <i class="add icon no-side-margins"></i>
  </button>
  <div class="active title" style="background-color:#A3A4DC">
    <i class="dropdown icon"></i><b><font size="4">Behaviors</font></b>
  </div>
  <ul class="active content" local-class="agent-list-content">
    {{#each this.availableBehaviors.regular as |value|}}
    <li data-value={{value.uri}} class="item" data-tooltip={{value.uri}} data-position="top left" local-class="agent-list-item">
      <button {{action "setActiveBehavior" value "regular"}}>{{value.label}} </button>
      <i></i>
    </li>
    {{/each}}
  </ul>
  {{/ui-accordion}}

  <br />

  {{#ui-accordion exclusive=false}}
  <button {{action "createendpoint"}} class="ui yellow icon button rightmost" local-class="right-aligned ui button">
    <i class="add icon no-side-margins"></i>
  </button>
  <div class="active title" style="background-color:#A3A4DC">
    <i class="dropdown icon"></i><b><font size="4">Endpoints</font></b>
  </div>

  <ul class="active content" local-class="agent-list-content">
    {{#each this.availableEndpoints as |value|}}
    <li data-value={{value.uri}} class="item" data-tooltip={{value.uri}} data-position="top left" local-class="agent-list-item">
      <button {{action "setActiveEndpoint" value}}>{{value.label}} </button>
      <i></i>
    </li>
    {{/each}}
  </ul>
  {{/ui-accordion}}
  <br />
  {{#ui-accordion exclusive=false}}

  <button {{action "createevent"}} class="ui yellow icon button rightmost" local-class="right-aligned ui button">
    <i class="add icon no-side-margins"></i>
  </button>
  <div class="active title" style="background-color:#A3A4DC">
    <i class="dropdown icon"></i><b><font size="4">Events</font></b>
  </div>
  <ul class="active content" local-class="agent-list-content">
    {{#each this.availableEvents as |value|}}
    <li data-value={{value.uri}} class="item" data-tooltip={{value.uri}} data-position="top left" local-class="agent-list-item">
      <button {{action "setActiveEvent" value}}>{{value.label}} </button>
      <i></i>
    </li>
    {{/each}}
  </ul>
  {{/ui-accordion}}
  <br />
  {{#ui-accordion exclusive=false}}
  <button {{action "creategoal"}} class="ui yellow icon button rightmost" local-class="right-aligned ui button">
    <i class="add icon no-side-margins"></i>
  </button>
  <div class="active title" style="background-color:#A3A4DC">
    <i class="dropdown icon"></i><b><font size="4">Goals</font></b>
  </div>
  <ul class="active content" local-class="agent-list-content">

    {{#each this.availableGoals as |value|}}

    <li data-value={{value.uri}} class="item" data-tooltip={{value.uri}} data-position="top left" local-class="agent-list-item">
      <button {{action "setActiveGoal" value}}>{{value.label}} </button>
      <i></i>
    </li>
    {{/each}}
  </ul>
  {{/ui-accordion}}
</div>
<br />

<!-- Content -->
<div id='agent-item'>
  <div class="agentshow">
    <br>{{agents/agent-item overview=this
                            activeAgent=this.activeAgent
                            JSnewcheckedPermissions=this.JSnewcheckedPermissions
                            availableBehaviors=this.availableBehaviors
                            availableEvents=this.availableEvents
                            availableEndpoints=this.availableEndpoints
                            availableGoals=this.availableGoals
                            availableEventsandGoals=this.availableEventsandGoals
    }}
  </div>

  <div class="behaviorshow">
    <br>{{agents/agent-behavior
                                  overview=this
                                  activeBehavior=this.activeBehavior availableBehaviors=this.availableBehaviors
                                  availableEvents=this.availableEvents
                                  availableEndpoints=this.availableEndpoints
                                  availableGoals=this.availableGoals
                                  availableEventsandGoals=this.availableEventsandGoals
                                  regularBehavior=this.regularBehavior
								                  availableBTs=this.availableBTs
    }}
  </div>

  <div class="eventshow">
    <br>{{agents/agent-event
                            overview=this
                            availableBehaviors=this.availableBehaviors
                            activeEvent=this.activeEvent availableEvents=this.availableEvents
                            availableEndpoints=this.availableEndpoints
                            availableGoals=this.availableGoals
    }}
  </div>

  <div class="endpointshow">
    <br>{{agents/agent-endpoint
                              overview=this
                              availableBehaviors=this.availableBehaviors
                              availableEvents=this.availableEvents
                              activeEndpoint=this.activeEndpoint availableEndpoints=this.availableEndpoints
                              availableGoals=this.availableGoals
                              availableEventsandGoals=this.availableEventsandGoals
    }}
  </div>

  <div class="goalshow">
    <br>{{agents/agent-goal
                            overview=this
                            availableBehaviors=this.availableBehaviors
                            availableEvents=this.availableEvents
                            availableEndpoints=this.availableEndpoints
                            activeGoal=this.activeGoal availableGoals=this.availableGoals
    }}
  </div>
</div>

