
<div local-class="agent-item-header clearfix">
  <div local-class="agent-item-header-text">
    <i class="icon star"></i>
    {{activeEvent.label}}
  </div>
  <a class="ui icon button"
     download={{fileName}}
     href="{{content}}">
    <i class="download icon no-side-margins"></i>
  </a>
  <button {{action "deleteevent"}} class="ui red icon button rightmost">
    <i class="minus icon no-side-margins"></i>
  </button>
</div>

<div local-class="item-seperation">
  <hr><i> URI</i>
</div>

<div local-class="item-row clearfix">
  <div local-class="item-row-title" data-tooltip="Agent's URI" data-position="top left">
    URI:
  </div>

  <div local-class="item-row-content">
    <div local-class="item-row-value">
      {{activeEvent.uri}}
    </div>
    <div>
      <button data-tooltip="copy URI" class="ui right icon button" local-class="item-row-copy" {{action "clipboarCopy" activeEvent.uri}}>
        <i class="icon copy no-side-margins"></i>
      </button>
    </div>
  </div>
</div>

<!-- Type -->
<div local-class="item-seperation">
  <hr><i> Type</i>
</div>

<div local-class="item-row clearfix">
  <div local-class="item-row-title">Type:</div>
  {{#if this.editType}}
  <div local-class="item-row-content-edit">
    <div local-class="item-row-value">
      {{#ui-dropdown class="selection agent-edit-dropdown" selected=activeEvent.type onChange=(action (mut activeEvent.type))}}
      <div class="default text">Communication</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each types as |type|}}
        <div data-value="{{type.uri}}" class="item">
          {{type.label}}
        </div>
        {{/each}}
      </div>
      {{/ui-dropdown}}
    </div>
    <div local-class="item-row-buttons">
      <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
        <i class="close icon no-side-margins"></i>
      </button>
      <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeEvent.uri "http://www.w3.org/1999/02/22-rdf-syntax-ns#type" activeEvent.type "http://www.w3.org/2001/XMLSchema#anyURI"}}>
        <i class="pencil icon no-side-margins"></i>
      </button>
    </div>
  </div>
  {{/if}}
  {{#unless this.editType}}
  <div local-class="item-row-content">
    <div local-class="item-row-value">
      {{activeEvent.type}}
    </div>
    <div local-class="item-row-buttons">
      <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "type" activeEvent.type}}>
        <i class="edit icon no-side-margins"></i>
      </button>
    </div>
  </div>
  {{/unless}}
</div>



<div local-class="item-seperation">
  <hr><i> Label</i>
</div>
<div local-class="item-row clearfix">
  <div local-class="item-row-title" data-tooltip="Manipulate Event's Label" data-position="top left">Label:</div>
  {{#if this.editLabel}}
  <div local-class="item-row-content-edit">
    <div local-class="item-row-value">
      {{input value=activeEvent.label}}
    </div>

    <div local-class="item-row-buttons">

      <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
        <i class="close icon no-side-margins"></i>
      </button>

      <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeEvent.uri "http://www.w3.org/2000/01/rdf-schema#label" activeEvent.label "http://www.w3.org/2001/XMLSchema#string"}}>
        <i class="pencil icon no-side-margins"></i>
      </button>

    </div>
  </div>
  {{/if}}

  {{#unless this.editEventLabel}}
  <div local-class="item-row-content">
    <div local-class="item-row-value">
      {{activeEvent.label}}
    </div>
    <div local-class="item-row-buttons">
      <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "label" activeEvent.label}}>
        <i class="edit icon no-side-margins"></i>
      </button>
    </div>
  </div>
  {{/unless}}

</div>



