{{#ui/menu-bar}}

<div id="tabbar-overview" class="vcenter btn tabbar-button">
  {{#link-to "editor.services.actions" class="vcenter tabbar-link"}}
  Definitions
  {{/link-to}}
</div>

<div id="tabbar-vocabulary" class="vcenter btn tabbar-button">
  {{#link-to "editor.services.service" class="vcenter tabbar-link"}}
  Test Service
  {{/link-to}}
</div>
{{#ui/menu-bar/dropdown
    label="File"
    class="action-bar"
  }}
  {{ui/menu-bar/input-button
      label="Load Repo"
      class="loadRepo"
      compAction=(action "loadRepo")
      icon="upload"
     }}
  {{ui/menu-bar/input-button
      label="Load File"
      class="loadFile"
      compAction=(action "loadFile")
      icon="upload"
    }}

{{ui/menu-bar/download-button
    label="Export Repo"
    class="exportRepo"
    content=this.fileContent
    fileName=this.fileName
    icon="download"
}}
{{/ui/menu-bar/dropdown}}
<div class="store-url-cont vcenter" local-class="rightmost">
  <div>
    <div local-class="store">Triplestore:</div>
    <div class="store-url">---</div>
  </div>
</div>

{{yield}}
{{/ui/menu-bar}}

{{ui/message/save-confirmation}}
{{ui/message/error-message}}
