<div id="services">
  <div id="services-action-bar">
    {{services/action-bar}}
  </div>
  <div class="flex-body" local-class="main-container">
    <div id="behaviors-body" class="flex-content" local-class="behaviors-body">
      <div id="split-container" style="display: flex; flex-direction: row;">
        <div
          id="split-left"
          class="split content split-horizontal"
          style="background-color: #E8EDF1;"
        >
          <div local-class="intro">
            <h4>
              <i class="icon car" />
              CARJAN Scenario Editor
            </h4>
          </div>
          {{services/carjan/carjan-import mode="fileSelection"}}
          <div class="ui top attached tabular menu" style="height: 1rem;">
            <a
              class="item active"
              data-tab="import"
              {{action "closePathwayEditor"}}
            ><i class="icon database"></i>
              Files
            </a>
            <a
              class="item"
              data-tab="map-selection"
              {{action "closePathwayEditor"}}
            ><i class="icon map"></i>
              Maps
            </a>
            <a
              class="item"
              data-tab="dragdrop"
              {{action "closePathwayEditor"}}
            ><i class="icon user"></i>
              Entities
            </a>
            <a class="item" data-tab="waypoint"><i class="icon map signs"></i>
              Paths
            </a>
            <a class="item" data-tab="carla">
              <img
                src="/assets/carjan/carjan-maps/images/carla.png"
                alt="Carla"
                local-class="carla-image"
              />
              Carla
            </a>
          </div>

          <div class="ui bottom attached tab segment active" data-tab="import">
            {{services/carjan/carjan-import}}
          </div>
          <div class="ui bottom attached tab segment" data-tab="map-selection">
            {{services/carjan/carjan-map-selection}}
          </div>
          <div class="ui bottom attached tab segment" data-tab="dragdrop">
            {{services/carjan/carjan-dragdrop}}
          </div>
          <div class="ui bottom attached tab segment" data-tab="waypoint">
            {{services/carjan/carjan-waypoint}}
          </div>
          <div class="ui bottom attached tab segment" data-tab="carla">
            {{services/carjan/carjan-carla}}

          </div>
        </div>

        <div
          id="split-middle"
          class="split content split-horizontal"
          style="height: auto; "
        >
          {{services/carjan/carjan-item id="carjan-item"}}
        </div>

        <div
          id="split-right"
          class="split content split-horizontal"
          style="background-color: #E8EDF1;"
        >
          {{services/carjan/carjan-properties}}
        </div>
      </div>

    </div>

  </div>

</div>