<div id="service-item">

  <div local-class="service-item-header clearfix">
    <div local-class="service-item-header-text">
      <h4>
        <i class="icon play circle outline"></i>
        {{activeAction.label}}
      </h4>
    </div>
  </div>

  <div id="service-item-show">
      <div local-class="item-row clearfix">
        <div local-class="item-row-title" data-tooltip="Actions's URI" data-position="top left">
          URI:
        </div>

        <div local-class="item-row-content">
          <div local-class="item-row-value">
            {{activeAction.uri}}
          </div>
          <div>
            <button data-tooltip="copy URI" class="ui right icon button" local-class="item-row-copy" {{action "clipboarCopy" activeAction.uri}}>
              <i class="icon copy no-side-margins"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Type -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Type:</div>
        <div local-class="item-row-content">
          <div local-class="item-row-value">
            PluginAction
          </div>
        </div>
      </div>

      <!-- Label -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Label:</div>
        <div local-class="item-row-content">
          <div local-class="item-row-value">
            {{activeAction.label}}
          </div>
        </div>
      </div>

      <!-- Communication -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Communication:</div>
        <div local-class="item-row-content">
          <div local-class="item-row-value">
            {{activeAction.communication}}
          </div>
        </div>
      </div>

      <!-- Variables -->
      <div local-class="item-seperation">
        <hr><i>Domain Transformation</i>
      </div>

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Variable:</div>
        <div local-class="item-row-content">
          {{#each activeAction.variables as |var|}}
          <div local-class="item-row-value">
            <button local-class="item-row-variable-noedit">
              ?{{var.var}}
            </button>
          </div>
          {{/each}}

        </div>
      </div>

      <!-- Consumes -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Consumes:</div>

        <div local-class="item-row-content">
          <div local-class="item-row-value sparql">
            {{textarea value=activeAction.consumes.sparql readonly=true cols="50" rows="6"}}
          </div>
        </div>

      </div>

      <!-- Produces -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Produces:</div>

        <div local-class="item-row-content">
          <div local-class="item-row-value sparql">
            {{textarea value=activeAction.produces.sparql readonly=true cols="50" rows="6"}}
          </div>
        </div>

      </div>
    </div>
  </div>
