<div id="service-item">

  <div local-class="service-item-header clearfix">
    <div local-class="service-item-header-text">
      <h4>
        <i class="icon play circle outline"></i>
        {{activeAction.label}}
      </h4>
    </div>
    <button {{action "delete"}} class="ui red icon button rightmost">
      <i class="minus icon no-side-margins"></i>
    </button>
    <a class="ui icon button"
       download={{fileName}}
       href="{{content}}">
      <i class="download icon no-side-margins"></i>
    </a>
  </div>

  <div id="service-item-show">
    <div local-class="item-row clearfix">
      <div local-class="item-row-title" data-tooltip="Actions's URI" data-position="top left">
        URI:
      </div>

      <div local-class="item-row-content">
        <div local-class="item-row-value">
          {{activeAction.uri}}
        </div>
        <div>
          <button data-tooltip="copy URI" class="ui right icon button" local-class="item-row-copy" {{action "clipboarCopy" activeAction.uri}}>
            <i class="icon copy no-side-margins"></i>
          </button>
        </div>
      </div>
    </div>
	  
	  <!-- Type -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Type:</div>
          <div local-class="item-row-content">
            <div local-class="item-row-value">
              ServiceAction
            </div>
          </div>
      </div>

      <!-- Label -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Label:</div>
        {{#if this.editLabel}}
          <div local-class="item-row-content-edit">
            <div local-class="item-row-value">
              {{input value=activeAction.label}}
            </div>
            <div local-class="item-row-buttons">
              <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                <i class="close icon no-side-margins"></i>
              </button>
              <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.uri "http://www.w3.org/2000/01/rdf-schema#label" activeAction.label "http://www.w3.org/2001/XMLSchema#string"}}>
                <i class="pencil icon no-side-margins"></i>
              </button>
            </div>
          </div>
        {{/if}}
        {{#unless this.editLabel}}
          <div local-class="item-row-content">
            <div local-class="item-row-value">
              {{activeAction.label}}
            </div>
            <div local-class="item-row-buttons">
              <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "label" activeAction.label}}>
                <i class="edit icon no-side-margins"></i>
              </button>
            </div>
          </div>
        {{/unless}}
      </div>

      <!-- Communication -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Communication:</div>
        {{#if this.editCommunication}}
          <div local-class="item-row-content-edit">
            <div local-class="item-row-value">
              {{#ui-dropdown class="selection service-edit-dropdown" selected=activeAction.communication onChange=(action (mut activeAction.communication))}}
              <div class="default text">Communication</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each communication as |com|}}
                  <div data-value="{{com.uri}}" class="item">
                    {{com.label}}
                  </div>
                {{/each}}
              </div>
              {{/ui-dropdown}}
            </div>
            <div local-class="item-row-buttons">
              <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                <i class="close icon no-side-margins"></i>
              </button>
              <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.uri "http://www.ajan.de/actn#communication" activeAction.communication "http://www.w3.org/2001/XMLSchema#anyURI"}}>
                <i class="pencil icon no-side-margins"></i>
              </button>
            </div>
          </div>
        {{/if}}
        {{#unless this.editCommunication}}
          <div local-class="item-row-content">
            <div local-class="item-row-value">
              {{activeAction.communication}}
            </div>
            <div local-class="item-row-buttons">
              <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "communication" activeAction.communication}}>
                <i class="edit icon no-side-margins"></i>
              </button>
            </div>
          </div>
        {{/unless}}
      </div>

      <!-- Variables -->
      <div local-class="item-seperation">
        <hr><i>Domain Transformation</i>
      </div>

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Variables:</div>
        <div local-class="item-row-content">
          {{#each activeAction.variables as |var|}}
              <div local-class="item-row-value">
                <button local-class="item-row-variable" {{action "deleteVariable" activeAction.variables var}}>
                  <b>?{{var.var}}</b>
                </button>
              </div>
          {{/each}}
          {{#if this.addVariable}}
            <div local-class="item-row-content-edit variable">
              <div local-class="item-row-value">
                {{input value=this.newVariable}}
              </div>
              <div local-class="item-row-buttons">
                <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                  <i class="close icon no-side-margins"></i>
                </button>
                <button local-class="item-row-apply" class="ui positive right icon button" {{action "saveVariable" this.newVariable}}>
                  <i class="pencil icon no-side-margins"></i>
                </button>
              </div>
            </div>
          {{/if}}
          {{#unless this.addVariable}}
            <div local-class="item-row-buttons">
              <button local-class="item-row-add" class="ui yellow icon button rightmost" {{action "edit" "variables" activeAction.variables}}>
                <i class="add icon no-side-margins"></i>
              </button>
            </div>
          {{/unless}}
        </div>
      </div>

      <!-- Consumes -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Consumes:</div>
        {{#if this.editConsumes}}
          <div local-class="item-row-content-edit">
            <div local-class="item-row-value sparql" class="sparql-edit">
              {{textarea value=activeAction.consumes.sparql cols="50" rows="6"}}
            </div>
            <div local-class="item-row-buttons">
              <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                <i class="close icon no-side-margins"></i>
              </button>
              <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.consumes.uri "http://www.ajan.de/actn#sparql" activeAction.consumes.sparql "http://www.w3.org/2001/XMLSchema#string"}}>
                <i class="pencil icon no-side-margins"></i>
              </button>
            </div>
			<p class="error-txt"></p>
          </div>
        {{/if}}
        {{#unless this.editConsumes}}
          <div local-class="item-row-content">
            <div local-class="item-row-value sparql">
              {{textarea value=activeAction.consumes.sparql readonly=true cols="50" rows="6"}}
            </div>
            <div local-class="item-row-buttons">
              <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "consumes.sparql" activeAction.consumes.sparql}}>
                <i class="edit icon no-side-margins"></i>
              </button>
            </div>
          </div>
        {{/unless}}
      </div>

      <!-- Produces -->

      <div local-class="item-row clearfix">
        <div local-class="item-row-title">Produces:</div>
        {{#if this.editProduces}}
          <div local-class="item-row-content-edit">
            <div local-class="item-row-value sparql">
              {{textarea value=activeAction.produces.sparql cols="50" rows="6"}}
            </div>
            <div local-class="item-row-buttons">
              <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                <i class="close icon no-side-margins"></i>
              </button>
              <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.produces.uri "http://www.ajan.de/actn#sparql" activeAction.produces.sparql "http://www.w3.org/2001/XMLSchema#string"}}>
                <i class="pencil icon no-side-margins"></i>
              </button>
            </div>
          </div>
        {{/if}}
        {{#unless this.editProduces}}
          <div local-class="item-row-content">
            <div local-class="item-row-value sparql">
              {{textarea value=activeAction.produces.sparql readonly=true cols="50" rows="6"}}
            </div>
            <div local-class="item-row-buttons">
              <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "produces.sparql" activeAction.produces.sparql}}>
                <i class="edit icon no-side-margins"></i>
              </button>
            </div>
          </div>
        {{/unless}}
      </div>

      <!-- Binding -->
      <div local-class="item-seperation">
        <hr><i>Resource Communication</i>
      </div>
	
      <div id="item-bindings" >
        <div class="ui top attached tabular menu">
          <div class="item active item-run-binding" {{action "activate" "run"}}>Run Binding</div>
          {{#if abort}}<div class="item item-abort-binding" {{action "activate" "abort"}}>Abort Binding</div>{{/if}}
        </div>
        <div local-class="clearfix" class="item-run-binding ui bottom attached tab active segment">

          <div local-class="item-row-collection">

            <!-- Methode -->

            <div local-class="item-row">
              <div local-class="item-row-title">HTTP Methode:</div>
              {{#if this.editRunMthd}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{#ui-dropdown class="selection service-edit-dropdown" selected=activeAction.run.mthd onChange=(action (mut activeAction.run.mthd))}}
                  <div class="default text">Methode</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    {{#each methods as |met|}}
                    <div data-value="{{met.uri}}" class="item">
                      {{met.label}}
                    </div>
                    {{/each}}
                  </div>
                  {{/ui-dropdown}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.run.uri "http://www.w3.org/2006/http#mthd" activeAction.run.mthd "http://www.w3.org/2001/XMLSchema#anyURI"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editRunMthd}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.run.mthd}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "run.mthd" activeAction.run.mthd}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- Version -->
            <div local-class="item-row">
              <div local-class="item-row-title">HTTP Version:</div>
              {{#if this.editRunVersion}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{#ui-dropdown class="selection service-edit-dropdown" selected=activeAction.run.version onChange=(action (mut activeAction.run.version))}}
                  <div class="default text">Versioh</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    {{#each versions as |version|}}
                    <div data-value="{{version.ver}}" class="item">
                      {{version.ver}}
                    </div>
                    {{/each}}
                  </div>
                  {{/ui-dropdown}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.run.uri "http://www.w3.org/2006/http#httpVersion" activeAction.run.version "http://www.w3.org/2001/XMLSchema#string"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editRunVersion}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.run.version}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "run.version" activeAction.run.version}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- Request URI -->

            <div local-class="item-row">
              <div local-class="item-row-title">Request URI:</div>
              {{#if this.editRunURI}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{input value=activeAction.run.requestUri}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.run.uri "http://www.w3.org/2006/http#requestURI" activeAction.run.requestUri "http://www.w3.org/2001/XMLSchema#anyURI"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editRunURI}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.run.requestUri}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "run.requestUri" activeAction.run.requestUri}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- Accept Header -->

            <div local-class="item-row">
              <div local-class="item-row-title">Accept:</div>
              {{#if this.editRunAccept}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{input value=activeAction.run.accept.value}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.run.accept.uri "http://www.w3.org/2006/http#fieldValue" activeAction.run.accept.value "http://www.w3.org/2001/XMLSchema#string"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editRunAccept}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.run.accept.value}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "run.accept" activeAction.run.accept}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- ContentType Header -->

            <div local-class="item-row">
              <div local-class="item-row-title">Content-Type:</div>
              {{#if this.editRunContentType}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{input value=activeAction.run.contentType.value}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.run.contentType.uri "http://www.w3.org/2006/http#fieldValue" activeAction.run.contentType.value "http://www.w3.org/2001/XMLSchema#string"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editRunContentType}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.run.contentType.value}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "run.contentType" activeAction.run.contentType}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

          <!-- Additional Headers -->

          <div local-class="item-row">
            <div local-class="item-row-title">Additional Headers:</div>
            {{#if this.editRunAddHeaders}}
            <div local-class="item-row-content-edit">
              <div local-class="item-row-value sparql">
                {{textarea value=activeAction.run.actnHeaders cols="50" rows="6"}}
              </div>
              <div local-class="item-row-buttons">
                <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                  <i class="close icon no-side-margins"></i>
                </button>
                <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.run.uri "http://www.ajan.de/actn#headers" activeAction.run.actnHeaders "http://www.w3.org/2001/XMLSchema#string"}}>
                  <i class="pencil icon no-side-margins"></i>
                </button>
              </div>
            </div>
            {{/if}}
            {{#unless this.editRunAddHeaders}}
            <div local-class="item-row-content">
              <div local-class="item-row-value sparql">
                {{textarea value=activeAction.run.actnHeaders readonly=true cols="50" rows="6"}}
              </div>
              <div local-class="item-row-buttons">
                <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "run.actnHeaders" activeAction.run.actnHeaders}}>
                  <i class="edit icon no-side-margins"></i>
                </button>
              </div>
            </div>
            {{/unless}}
          </div>

          <!-- Payload -->

          <div local-class="item-row">
            <div local-class="item-row-title">Payload:</div>
            {{#if this.editRunPayload}}
            <div local-class="item-row-content-edit">
              <div local-class="item-row-value sparql">
                {{textarea value=activeAction.run.payload.sparql cols="50" rows="6"}}
              </div>
              <div local-class="item-row-buttons">
                <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                  <i class="close icon no-side-margins"></i>
                </button>
                <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.run.payload.uri "http://www.ajan.de/actn#sparql" activeAction.run.payload.sparql "http://www.w3.org/2001/XMLSchema#string"}}>
                  <i class="pencil icon no-side-margins"></i>
                </button>
              </div>
            </div>
            {{/if}}
            {{#unless this.editRunPayload}}
            <div local-class="item-row-content">
              <div local-class="item-row-value sparql">
                {{textarea value=activeAction.run.payload.sparql readonly=true cols="50" rows="6"}}
              </div>
              <div local-class="item-row-buttons">
                <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "run.payload.sparql" activeAction.run.payload.sparql}}>
                  <i class="edit icon no-side-margins"></i>
                </button>
              </div>
            </div>
            {{/unless}}
          </div>
        </div>

        </div>

        <!--  ABORT  -->

        {{#if abort}}
        <div local-class="clearfix" class="item-abort-binding ui bottom attached tab segment">
          <div local-class="item-row-collection">

            <!-- Methode -->

            <div local-class="item-row">
              <div local-class="item-row-title">HTTP Methode:</div>
              {{#if this.editAbortMthd}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{#ui-dropdown class="selection service-edit-dropdown" selected=activeAction.abort.mthd onChange=(action (mut activeAction.abort.mthd))}}
                  <div class="default text">Methode</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    {{#each methods as |met|}}
                    <div data-value="{{met.uri}}" class="item">
                      {{met.label}}
                    </div>
                    {{/each}}
                  </div>
                  {{/ui-dropdown}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.abort.uri "http://www.w3.org/2006/http#mthd" activeAction.abort.mthd "http://www.w3.org/2001/XMLSchema#anyURI"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editAbortMthd}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.abort.mthd}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "abort.mthd" activeAction.abort.mthd}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- Version -->
            <div local-class="item-row">
              <div local-class="item-row-title">HTTP Version:</div>
              {{#if this.editAbortVersion}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{#ui-dropdown class="selection service-edit-dropdown" selected=activeAction.abort.version onChange=(action (mut activeAction.abort.version))}}
                  <div class="default text">Versioh</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    {{#each versions as |version|}}
                    <div data-value="{{version.ver}}" class="item">
                      {{version.ver}}
                    </div>
                    {{/each}}
                  </div>
                  {{/ui-dropdown}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.abort.uri "http://www.w3.org/2006/http#httpVersion" activeAction.abort.version "http://www.w3.org/2001/XMLSchema#string"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editAbortVersion}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.abort.version}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "abort.version" activeAction.abort.version}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- Request URI -->

            <div local-class="item-row">
              <div local-class="item-row-title">Request URI:</div>
              {{#if this.editAbortURI}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{input value=activeAction.abort.requestUri}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.abort.uri "http://www.w3.org/2006/http#requestURI" activeAction.abort.requestUri "http://www.w3.org/2001/XMLSchema#anyURI"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editAbortURI}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.abort.requestUri}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "abort.requestUri" activeAction.abort.requestUri}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- Accept Header -->

            <div local-class="item-row">
              <div local-class="item-row-title">Accept:</div>
              {{#if this.editAbortAccept}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{input value=activeAction.abort.accept.value}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.abort.accept.uri "http://www.w3.org/2006/http#fieldValue" activeAction.abort.accept.value "http://www.w3.org/2001/XMLSchema#string"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editAbortAccept}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.abort.accept.value}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "abort.accept" activeAction.abort.accept}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- ContentType Header -->

            <div local-class="item-row">
              <div local-class="item-row-title">Content-Type:</div>
              {{#if this.editAbortContentType}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value">
                  {{input value=activeAction.abort.contentType.value}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.abort.contentType.uri "http://www.w3.org/2006/http#fieldValue" activeAction.abort.contentType.value "http://www.w3.org/2001/XMLSchema#string"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editAbortContentType}}
              <div local-class="item-row-content">
                <div local-class="item-row-value">
                  {{activeAction.abort.contentType.value}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "abort.contentType" activeAction.abort.contentType}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- Additional Headers -->

            <div local-class="item-row">
              <div local-class="item-row-title">Additional Headers:</div>
              {{#if this.editAbortAddHeaders}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value sparql">
                  {{textarea value=activeAction.abort.actnHeaders cols="50" rows="6"}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.abort.uri "http://www.ajan.de/actn#headers" activeAction.abort.actnHeaders "http://www.w3.org/2001/XMLSchema#string"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editAbortAddHeaders}}
              <div local-class="item-row-content">
                <div local-class="item-row-value sparql">
                  {{textarea value=activeAction.abort.actnHeaders readonly=true cols="50" rows="6"}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "abort.actnHeaders" activeAction.abort.actnHeaders}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>

            <!-- Payload -->

            <div local-class="item-row">
              <div local-class="item-row-title">Payload:</div>
              {{#if this.editAbortPayload}}
              <div local-class="item-row-content-edit">
                <div local-class="item-row-value sparql">
                  {{textarea value=activeAction.abort.payload.sparql cols="50" rows="6"}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-cancel" class="ui negative right icon button" {{action "cancel"}}>
                    <i class="close icon no-side-margins"></i>
                  </button>
                  <button local-class="item-row-apply" class="ui positive right icon button" {{action "save" activeAction.abort.payload.uri "http://www.ajan.de/actn#sparql" activeAction.abort.payload.sparql "http://www.w3.org/2001/XMLSchema#string"}}>
                    <i class="pencil icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/if}}
              {{#unless this.editAbortPayload}}
              <div local-class="item-row-content">
                <div local-class="item-row-value sparql">
                  {{textarea value=activeAction.abort.payload.sparql readonly=true cols="50" rows="6"}}
                </div>
                <div local-class="item-row-buttons">
                  <button local-class="item-row-edit" class="ui yellow icon button rightmost" {{action "edit" "abort.payload.sparql" activeAction.abort.payload.sparql}}>
                    <i class="edit icon no-side-margins"></i>
                  </button>
                </div>
              </div>
              {{/unless}}
            </div>
          </div>
		
       </div>
	    {{/if}}
      </div>
    </div>
</div>
