{{#if activeInstance.id}}
<div local-class="agent-instance-header clearfix">
  <div local-class="agent-instance-header-text">{{activeInstance.id}}</div>
  <button {{action "deleteAgent" activeInstance.uri}} class="ui red icon button rightmost">
    <i class="minus icon no-side-margins"></i>
  </button>
</div>

<div local-class="instance-seperation">
  <hr><i>Properties</i>
</div>

<!-- URI -->

<div local-class="instance-row clearfix">
  <div local-class="instance-row-title" data-tooltip="Agent's URI" data-position="top left">
    URI:
  </div>

  <div local-class="instance-row-content">
    <div local-class="instance-row-value">
      {{activeInstance.uri}}
    </div>
    <div>
      <button data-tooltip="copy URI" class="ui right icon button" local-class="instance-row-copy" {{action "clipboarCopy" activeInstance.uri}}>
        <i class="icon copy no-side-margins"></i>
      </button>
    </div>
  </div>
</div>

<!-- Template -->

<div local-class="instance-row clearfix">
  <div local-class="instance-row-title" data-tooltip="Agent's URI" data-position="top left">
    Template:
  </div>

  <div local-class="instance-row-content">
    <div local-class="instance-row-value">
      {{activeInstance.template}}
    </div>
  </div>
</div>

<!-- Knowledge -->

<div local-class="instance-row clearfix">
  <div local-class="instance-row-title" data-tooltip="Agent's Knowledge" data-position="top left">
    Agent Knowledge:
  </div>

  <div local-class="instance-row-content">
    <div local-class="instance-row-value">
      {{activeInstance.knowledge}}
    </div>
    <div>
      <a data-tooltip="download knowledge" class="ui right icon button" local-class="instance-row-download" target="_blank" rel="noopener" href={{activeInstance.knowledge}}>
        <i class="icon download no-side-margins"></i>
      </a>
      <a data-tooltip="query knowledge" class="ui right icon button" local-class="instance-row-download" target="_blank" rel="noopener noreferrer" href={{activeInstance.repository}}>
        <i class="icon search no-side-margins"></i>
      </a>
    </div>
  </div>
</div>

<!-- Behaviors -->

<div local-class="instance-row clearfix">
  <div local-class="instance-row-title" data-tooltip="Agent's Knowledge" data-position="top left">
    Behaviors:
  </div>

  <ul local-class="instance-row-content" style="list-style-type:none;">
    {{#each this.activeInstance.behaviors as |behavior|}}
    <li class="agent-behavior" behavior={{behavior.uri}}>
      <div local-class="instance-row-value instance-row-behavior " class="list-item">
        {{behavior.name}}
      </div>
      <div>
        <!--<a data-tooltip="open behaviors state" class="ui right icon button" local-class="instance-row-download" rel="noopener noreferrer" rel="noopener" target="_blank" href={{concat behavior.uri '?method=info&mode=detail'}}>
          <i class="icon share alternate no-side-margins"></i>
        </a>-->
        <a data-tooltip="open behaviors state" class="ui right icon button" local-class="instance-row-download" rel="noopener noreferrer" rel="noopener" target="_blank" href={{concat btView '&bt=' behavior.uri}}>
          <i class="icon share alternate no-side-margins"></i>
        </a>
        <a data-tooltip="open behaviors knowledge" class="ui right icon button" local-class="instance-row-download" rel="noopener noreferrer" rel="noopener" target="_blank" href={{concat behavior.uri '?method=knowledge'}}>
          <i class="icon database alternate no-side-margins"></i>
        </a>
        <a data-tooltip="resume behavior execution" class="debug hidden ui right icon button green" local-class="instance-row-download" onclick={{action "debug" behavior.uri '?method=debug&mode=resume'}}>
          <i class="icon play alternate no-side-margins"></i>
        </a>
        <a data-tooltip="execute next behavior leafe node" class="debug hidden ui right icon button yellow" local-class="instance-row-download" onclick={{action "debug" behavior.uri '?method=debug&mode=step'}}>
          <i class="icon angle double right alternate no-side-margins"></i>
        </a>
        <a data-tooltip="get node debug info" class="debug hidden ui right icon button blue" local-class="instance-row-download" onclick={{action "debugView" behavior.uri}}>
          <i class="icon eye double right alternate no-side-margins"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

<!-- Show Reports -->
{{#if this.activeInstance.reportURI}}
<div local-class="instance-seperation">
  <hr><i>Reports</i>
</div>

<div local-class="instance-report-header">
  <h3>
    Agent LeafNode Status Reports
    {{#if wssConnection}}
    <button class="ui right icon button" onclick={{action "disconnect"}}>
      Disconnect <i class="icon red bell slash no-side-margins"></i>
    </button>
    {{/if}}
    {{#unless wssConnection}}
    <button class="ui right icon button" onclick={{action "connect"}}>
      Connect <i class="icon green bell no-side-margins"></i>
    </button>
    {{/unless}}
  </h3>
</div>

<div local-class="instance-row">
  <div id="test" local-class="instance-row-content">
    <div id="report-service-wrapper" local-class="instance-row-value">
      <div id="report-service-message">
        <div id="report-service-message-content"></div>
      </div>
      <button class="ui right icon button" onclick={{action "clean"}}>
        <i class="icon ban no-side-margins"></i>
      </button>
    </div>
  </div>
</div>
{{/if}}

<!-- Send Message -->

<div local-class="instance-seperation">
  <hr><i>Capability/Endpoint</i>
</div>

<h3>Messages to Agent Endpoints</h3>
<br />
{{#each this.activeInstance.actions as |value|}}
<div class="agentInstance-action" local-class="instance-row clearfix">
  <h4>
    <span data-tooltip={{value.uri}}>{{value.label}}</span>
  </h4>
  {{value.contentType}}
  <div class="contentType-wrapper">
    HTTP Method: POST; Content-Type: {{#ui-dropdown class="contentType-selection selection" selected=alue.selectedType onChange=(action (mut value.selectedType))}}
    <div class="default text">{{value.selectedType}}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each value.contentTypes as |types|}}
      <div data-value="{{types}}" class="item">
        {{types}}
      </div>
      {{/each}}
    </div>
    {{/ui-dropdown}}
  </div>

  <div local-class="instance-row-content">
    <div id="test" local-class="instance-row-value">
      {{textarea value=value.agentMessage cols="80" rows="6"}}
    </div>
    {{#if (eq messageError.uri value.uri)}}
    <p local-class="error-message">{{messageError.error}}</p>
    {{/if}}
    <div>
      <button data-tooltip="send Message" class="ui right icon yellow button" local-class="instance-row-copy" {{action "sendMsgToAgent" value.uri value.agentMessage value.selectedType}}>
        <i class="icon send no-side-margins"></i>
      </button>
    </div>
  </div>
</div>
{{/each}}
{{/if}}
{{#unless activeInstance.id}}
<div local-class="agent-instance-reminder clearfix">
  <div local-class="agent-instance-reminder-text">
    <h1>
      <i class="icon angle double right no-side-margins"></i>
      Reload Instance Overview or Create Agent Instance
      <i class="icon angle double left no-side-margins"></i>
    </h1>
    <br />
    <br />
    <i class="icon hand point right no-side-margins"></i><small margin-bottom="20px">
      Make sure, that the correct URL to the wanted AJAN-Service (e.g. http://localhost:8080) is selected.
    </small>
    <br />
    <br />
    <i class="icon hand point right no-side-margins"></i><small>
      To receive report messages from the agent LeafNodes, please run the ReportService (reportService.js)
      <br />on Port 4202 and instantiate the agent with 'Show Logs' selected.
    </small>
  </div>
</div>
{{/unless}}
