<!-- Overview -->

<div id='instances-overview'>

  <div local-class="instances-list-header clearfix">
    <h3>Agent Instances</h3>
  </div>

  <!-- Create Agent Instances -->
  <button class="ui icon button yellow rightmost" {{action "addAgent"}} local-class="right-aligned ui button">
    <i class="add icon no-side-margins"></i>
  </button>

  <div class="title" local-class="create-instance-list-header" style="background-color:#A3A4DC">
    <i class="icon"></i><b><font size="4">Create Instance</font></b>
  </div>
  <br />

  <!-- All Agent Instances -->
  {{#ui-accordion exclusive=false}}
  <button class="ui icon button rightmost" {{action "loadAgents"}} local-class="right-aligned ui button">
    <i class="sync icon no-side-margins"></i>
  </button>

  <div class="active title" style="background-color:#A3A4DC ">
    <i class="dropdown icon"></i><b><font size="4">Instances Overview</font></b>
  </div>

  <div local-class="instances-list-content clearfix">
    <div data-tooltip="Define Host:Port to the desired AJAN-Service (e.g. http://127.0.0.1:8080)"
         local-class="instances-list-item instances-list-url"
         data-position="top left"
         class="item">
      {{input value=this.ajanService}}
    </div>
  </div>


  <ul class="active content" local-class="instances-list-content">
    {{#each this.allInstances as |value|}}
    <li data-value={{value.uri}} data-tooltip={{value.uri}} data-position="top left" class="item" local-class="instances-list-item">
      <button {{action "setActiveInstance" value }}>
        <img local-class="instances-list-item-icon" src="/icons/icons8-action.png" />
        <div>{{value.id}}</div>
      </button>
      <i></i>
    </li>
    {{/each}}
  </ul>
  {{/ui-accordion}}
</div>

<div id="templates-wrapper" hidden>
  {{#ui-dropdown id="select-agent-templates" class="selection" selected=availableTemplates.uri onChange=(action (mut selectedTemplate))}}
  <div class="default text">{{selectedTemplate.label}}</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each availableTemplates as |tmpl|}}
    <div data-value="{{tmpl.uri}}" class="item">
      {{tmpl.label}}
    </div>
    {{/each}}
  </div>
  {{/ui-dropdown}}
</div>

{{ui/message/send-message}}
{{ui/message/error-message}}

<div id='agent-instance'>
  <div class="instances-show">
    <br>{{agents/instance/agent-instance
        overview=this
        activeInstance=this.activeInstance
    }}
  </div>
</div>

