<div id="{{modalID}}" class="modal {{class-modal}}" style={{display-helpers/visibility-property show}}>
  <div class="modal-content {{class-content}}">

    <div class="modal-header">
      <span class="modal-close" {{action 'close'}}><i class="close icon"></i></span>
      <h2 id="modal-header-title" class="modal-header-title title">{{title}}</h2>
    </div>

    <div id="modal-body" class="modal-body flex-content {{class-body}}">

      {{yield}}

    </div>

    <div class="modal-footer">
      {{#unless emptyFooter}}
        <div class="modal-buttons">
          <div class="ui negative right labeled icon button" {{action 'cancel'}}>
            Cancel
            <i class="close icon"></i>
          </div>
          <div id="save-button" class="ui positive right labeled icon button" {{action 'confirm'}}>
            Save
            <i class="save icon"></i>
          </div>
        </div>
      {{/unless}}
    </div>

  </div>
</div>
