{{#if this.validation}}
<div class="event-goal-selection error-dropdown">
{{#ui-dropdown
				class="flexed-input fluid search selection"
				allowAdditions=true
				fullTextSearch=true
				sortSelect=true
				selected=selectedBaseValue.label
				onChange=(action (mut selected))
				value=value
}}
<div class="default text">{{selectedBaseValue.label}}</div>
<i class="dropdown icon"></i>
<div class="menu">
	{{#each availableEventsGoals as |item|}}
	<div data-value={{item.uri}} class="item">
		{{item.label}}
	</div>
	{{/each}}
</div>
{{/ui-dropdown}}
</div>
{{/if}}

{{#unless this.validation}}
<div class="event-goal-selection">
{{#ui-dropdown
				class="flexed-input fluid search selection"
				allowAdditions=true
				fullTextSearch=true
				sortSelect=true
				selected=selectedBaseValue.label
				onChange=(action (mut selected))
}}
<div class="default text">{{selectedBaseValue.label}}</div>
<i class="dropdown icon"></i>
<div class="menu">
	{{#each availableEventsGoals as |item|}}
	<div data-value={{item.uri}} class="item">
		{{item.label}}
	</div>
	{{/each}}
</div>
{{/ui-dropdown}}
</div>
{{/unless}}
