{{behaviors/create-bt}}
{{#ui/menu-bar}}
  {{#ui/menu-bar/dropdown
    label="File"
    class="behaviorFile"
  }}
  {{ui/menu-bar/input-button
      label="Load Repo"
      class="loadRepo"
      compAction=(action "loadRepo")
      icon="upload"
    }}
  {{ui/menu-bar/input-button
      label="Load BT"
      class="loadBT"
      compAction=(action "loadBT")
      icon="upload"
    }}
  {{ui/menu-bar/download-button
    label="Export Repo"
    class="exportRepo"
    content=this.repoContent
    fileName=this.repoFileName
    icon="download"
  }}
  {{ui/menu-bar/download-button
    label="Export BT"
    class="exportBT"
    content=this.btContent
    fileName=this.btFileName
    icon="download"
  }}
{{/ui/menu-bar/dropdown}}
  {{ui/menu-bar/button
    label="Create BT"
    onClick=(action "createBehavior")
  }}
  {{ui/menu-bar/button
    label="Sort"
    onClick=(action "sort")
  }}
  {{ui/menu-bar/button
    label="Save"
    onClick=(action "save")
  }}
  {{ui/menu-bar/button
    label="Delete"
    onClick=(action "delete")
  }}
  {{ui/menu-bar/button
    label="Restore"
    onClick=(action "restoreSave")
  }}

  <div class="store-url-cont vcenter" local-class="rightmost">
    <div>
      <div local-class="store">Triplestore:</div>
      <div class="store-url">---</div>
    </div>
  </div>

  {{yield}}
{{/ui/menu-bar}}

{{ui/message/save-confirmation}}
{{ui/message/error-message}}
