{{#unless noSave}}
{{behaviors/create-bt}}
{{behaviors/delete-bt}}
{{/unless}}
{{#ui/menu-bar}}
  {{#unless noSave}}
  {{#ui/menu-bar/dropdown
    label="File"
    class="action-bar"
  }}
  {{ui/menu-bar/input-button
      label="Load Repo"
      class="loadRepo"
      accept=".ttl"
      compAction=(action "loadRepo")
      icon="cloud upload"
    }}
  {{ui/menu-bar/input-button
      label="Load BT"
      class="loadBT"
      accept=".ttl"
      compAction=(action "loadBT")
      icon="cloud upload"
    }}
  {{ui/menu-bar/download-button
    label="Export Repo"
    class="exportRepo"
    content=this.repoContent
    fileName=this.repoFileName
    icon="download"
  }}
  {{ui/menu-bar/download-button
    label="Export BT"
    class="exportBT"
    content=this.btContent
    fileName=this.btFileName
    icon="download"
  }}
  {{/ui/menu-bar/dropdown}}
  {{#ui/menu-bar/dropdown
    label="Create"
    class="action-bar"
  }}
  {{ui/menu-bar/create-button
    label="Create BT"
    class="createBT"
    compAction=(action "createBehavior")
    icon="plus square"
  }}
  {{ui/menu-bar/create-button
    label="Clone BT"
    class="cloneBT"
    compAction=(action "cloneBehavior")
    icon="clone"
  }}
  {{ui/menu-bar/create-button
    label="Generate Agent"
    class="generateAgent"
    compAction=(action "generateAgent")
    icon="user plus"
  }}
  {{/ui/menu-bar/dropdown}}

  {{#ui/menu-bar/dropdown
    label="Delete"
    class="action-bar"
  }}
    {{ui/menu-bar/create-button
      label="Delete BT"
      class="deleteBT"
      compAction=(action "delete")
      icon="trash"
    }}
    {{ui/menu-bar/create-button
      label="Remove Selection"
      class="removeSelection"
      compAction=(action "removeSelection")
      icon="ban"
    }}
  {{/ui/menu-bar/dropdown}}

  {{#if this.unsaved}}
    {{ui/menu-bar/button
      label="Save"
      class="behaviors-save-button unsavedChanges"
      icon="save icon"
      onClick=(action "save")
    }}
  {{/if}}
  {{#unless this.unsaved}}
    {{ui/menu-bar/button
      label="Save"
      class="behaviors-save-button"
      onClick=(action "save")
    }}
  {{/unless}}
  {{/unless}}
  {{ui/menu-bar/button
    label="Sort"
    onClick=(action "sort")
  }}
  {{#if noSave}}
  <div class="store-url-cont vcenter" local-class="rightmost">
    <div>
      {{#if connect}}
      <i class="icon rss alternate green"></i>
      {{/if}}
      <span>Initiated SPARQL-BT view of Agent: <span><b> {{agent}} </b></span></span>
    </div>
  </div>
  {{/if}}
  <div class="store-url-cont vcenter" local-class="rightmost">
    <div>
      <div class="store-name">Triplestore:</div>
      <div class="store-url">---</div>
    </div>
  </div>

  {{yield}}
{{/ui/menu-bar}}

{{ui/message/save-confirmation}}
{{ui/message/error-message}}
