<div class="flex-body">

  <div class="flex-content">
    {{behaviors/action-bar availableBTs=availableBTs}}
  </div>

  <div id='behaviors-body' class="flex-content" local-class="behaviors-body">
    <!-- Menu -->
    <div id='split-left' class="split content split-horizontal">
      <div id='node-adder' local-class='side-menu manipulation'>
        <div local-class='intro'>
          <h4>Graph Manipulation </h4>
        </div>
         {{behaviors/manipulation/bt-selection availableBTs=availableBTs cyRef=cyRef}}
		<!-- Container for selection of behavior tree -->
        <div class='bt-container' local-class='bt-container'>
          {{!-- <p class="node-adder-class title-behaviors" local-class="bt-dropdown">Behavior Tree</p>
          <div class="custom-select">
            <select id='bt-select' local-class='bt-select'>
              <option value='default' selected='selected'></option>
            </select> --}}
          {{!-- </div> --}}
        </div>
        <!-- Container for nodes that can be added to the graph -->
        <div class='node-container' local-class='node-container'>

          <h4 class="nodes-header">Branch Nodes</h4>
          {{behaviors/selections/composite-selection}}
          {{behaviors/selections/decorator-selection}}

          <h4 class="nodes-header">Leaf Nodes</h4>
          {{behaviors/selections/leave-selection}}
          {{behaviors/selections/behavior-tree-selection}}
          {{!-- {{#ui-accordion class="" local-class="accordion" exclusive=false }} --}}

            {{!-- <div class="active title-behaviors">
              <i class="dropdown icon"></i> Composites
            </div>
            <div id="Composite" class="active content">
            </div>
            <div class="active title-behaviors">
              <i class="dropdown icon"></i> Decorators
            </div>
            <div id="Decorator" class="active content">
            </div>
            <div class="active title-behaviors">
              <i class="dropdown icon"></i> Leaves
            </div>
            <div id="Leaf" class="active content">
            </div>
            <div class="active title-behaviors">
              <i class="dropdown icon"></i> Behavior Trees
            </div>
            <div id="BehaviorTree" class="active content">
            </div> --}}
          {{!-- {{/ui-accordion}} --}}
        </div>
      </div>
    </div>
    <!-- Conainer for the graph -->
    <div id='split-middle' class="split content split-horizontal">
      {{#behaviors/behavior-tree id="behavior-tree"}}
        <div id="cy" local-class="cy"></div>
      {{/behaviors/behavior-tree}}
    </div>
    <!-- Conainer for the node properties -->
    <div id='split-right' class="split content split-horizontal">
      {{#behaviors/properties-pane}}
        <div id='info-container' class='info-container'></div>
      {{/behaviors/properties-pane}}
    </div>

    <!-- </div> -->

    <!-- The actual modal -->
    <!-- {{#ui-modal name="editorJSON" class="editorJSON" local-class="modal" observeChanges=true}}
    <div class="header">
      JSON Editor
      <div class="ui" local-class='modal-close-button' {{action 'closeJSON'}}>
        <i class="close icon"></i>
      </div>

    </div>
    <div class="text-box content" local-class='text-box'>
      <textarea id='textJSON' local-class='text-json'> </textarea>
    </div>
    <div class="actions">
      <div class="ui negative left icon button" {{action 'cancelJson'}}>
        Cancel
      </div>
      <div class="ui positive right labeled icon button" {{action 'saveJson'}}>
        Save
        <i class="checkmark icon"></i>
      </div>
    </div>
  {{/ui-modal}} -->

    <!-- {{#ui-modal name="editorHelp" class="editorHelp" local-class="modal" observeChanges=true}}
    <div class="header">
      Graph Editor Help
      <div class="ui" local-class='modal-close-button' {{action 'closeHelp'}}>
        <i class="close icon"></i>
      </div>

    </div>
    <div class="content-box content" local-class='content-box'>
      <div local-class='help-container'>
        <ul>
          <li>Grab and drag background to pan : touch & desktop</li>
          <li>Pinch to zoom : touch & desktop (with supported trackpad)</li>
          <li>Mouse wheel to zoom : desktop</li>
          <li>Two finger trackpad up or down to zoom : desktop</li>
          <li>Tap to select : touch & desktop</li>
          <li>Tap background to unselect : desktop</li>
          <li>Taphold background to unselect : desktop & touch</li>
          <li>Multiple selection via modifier key (shift, command, control, alt) + tap : desktop</li>
          <li>Box selection : touch (three finger swipe) & desktop (modifier key + mousedown then drag)</li>
          <li>Grab and drag nodes : touch & desktop</li>

          <li><b>Delete</b> or <b>Backspace</b>: Remove selected objects</li>
          <li><b>CTRL + Drag Mouse</b>: Box selection</li>
          <li><b>CTRL + A</b>: Select all objects</li>
          <li><b>CTRL + C</b>: Copy selected objects</li>
          <li><b>CTRL + X</b>: Cut selected objects</li>
          <li><b>CTRL + V</b>: Paste from clipboard</li>
          <li><b>CTRL + Z</b>: Undo delete and move operations</li>

        </ul>
      </div>
    </div>
  {{/ui-modal}} -->

  </div>
</div>
<!-- call UI scripts -->
{{ui/properties}}
