<div local-class="intro">
  <h4>
    <i class="cog icon" />
    Properties
    {{#if isLoading}}
      <i class="spinner loading icon"></i>
    {{/if}}
  </h4>
</div>

{{#if isLoading}}
  <p class="active title composite-selection">
    <i class="info circle icon" style="margin-left: 4px"></i>
    Loading properties...
  </p>
{{else}}
  {{#if (eq this.showProperties "waypoint")}}
    <!-- Waypoint Editor -->
    <p class="node-adder-class title-behaviors">
      <i class="map marker alternate icon"></i>
      <b>Waypoint Editor</b>
    </p>
    <div ondragover={{action "allowDrop"}} local-class="gridContainer">
      {{#each gridCells as |cell|}}
        <div
          class="grid-cell"
          local-class="grid-cell"
          style="background-color: {{this.backgroundColor}}; height: 50px; width: 60px;"
          data-row={{cell.row}}
          data-col={{cell.col}}
          draggable="true"
          ondrop={{action "dropOnCell"}}
          ondragover={{action "allowDrop"}}
          ondragleave={{action "dragLeave"}}
          ondragstart={{action "dragStart"}}
        />
      {{/each}}
    </div>
    <h1></h1>

    <div
      local-class="button-container"
      style="margin: 25px; pointer-events: none;"
    >
      <button
        class="ui red button"
        style="pointer-events:all;"
        {{action "closeWaypointEditor"}}
      >
        Close
      </button>

      <div
        class="grid-cell"
        id="trash"
        style="height: 50px; width: 60px; background-color: white; pointer-events: all;"
        ondrop={{action "dropOnCell"}}
        ondragover={{action "allowDrop"}}
        ondragleave={{action "dragLeave"}}
        ondragstart={{action "dragStart"}}
      >

        <i
          class="trash alternate icon"
          style="font-size: 24px; display: flex; justify-content: center; align-items: center; height: 100%;width: 100%; pointer-events: none;"
        >
        </i>

      </div>
    </div>

  {{/if}}

  {{#if (eq this.showProperties "path")}}
    <!-- Path Editor -->
    <p class="node-adder-class title-behaviors">
      <i class="share alternate icon"></i>
      <b>Path Editor</b>
    </p>

    <!-- Input-Feld für die Path-Beschreibung -->
    <div class="ui form">

      <div local-class="pad">
        <div class="field">
          <label>
            <i class="edit icon" />
            Path Description
          </label>
          {{input
            type="text"
            placeholder=this.selectedPath.description
            value=this.selectedPath.description
            oninput=(action
              (mut this.selectedPath.description) value="target.value"
            )
            focus-out=(action "inputFocusOut")
            focus-in=(action "inputFocusIn")
            key-up=(action "checkPathDescription")
          }}
        </div>
        {{#if hasError}}
          <div class="ui pointing red basic label">
            <i class="exclamation triangle icon" />
            <h4></h4>
            {{errorMessage}}
            <h1></h1>
            Your description will not be saved.
          </div>
        {{/if}}
      </div>
      <div class="ui form">
        <div local-class="pad">
          <div class="field">
            <label>
              <i class="eye dropper icon" />
              Path Color
            </label>
            <div
              class="ui items"
              local-class="property-selection-container"
              style="margin: 0;"
            >
              <div local-class="property-panel">
                <div local-class="property-image">
                  <div id="colorPickerOverlay" local-class="overlay"></div>
                  {{spectrum-color-picker
                    color=this.selectedPath.color
                    showButtons=false
                    clickoutFiresChange=true
                    preferredFormat="hex"
                    flatMode=true
                    onChange=(action "colorChanged")
                    onShow=(action "pickerOpened")
                    onHide=(action "pickerClosed")
                    onMove=(action "userMovedColorPicker")
                  }}
                </div>
              </div>
              <div local-class="property-panel with-background">
                <div local-class="button-container" style="overflow: scroll;">
                  <button
                    class="ui button secondary"
                    style="border-radius: 8px;"
                    {{action "openDrawPathModal"}}
                  >
                    <i class="pencil alternate icon"></i>
                    Draw Path
                  </button>
                  <button
                    class="ui red button"
                    style="border-radius: 8px;"
                    {{action "openDeletePathDialog" selectedPath}}
                  >
                    <i class="trash icon" />
                    Delete Path
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  {{/if}}

  {{#if (eq this.showProperties "pedestrian")}}
    <!-- Pedestrian Editor -->
    <p class="node-adder-class title-behaviors">
      <i class="user icon"></i>
      <b>Pedestrian Editor</b>
    </p>

    <!-- Input-Feld für Pedestrian Name -->
    <div class="ui form">
      <div local-class="pad">
        <div class="field">
          <label>
            <i class="edit icon" />
            Pedestrian Name
          </label>
          {{input
            type="text"
            placeholder=this.pedestrian.description
            value=this.pedestrian.description
            oninput=(action
              (mut this.pedestrian.description) value="target.value"
            )
            focus-out=(action "inputFocusOut")
            focus-in=(action "inputFocusIn")
            key-up=(action "checkPathDescription")
          }}
        </div>
        {{#if hasError}}
          <div class="ui pointing red basic label">
            <i class="exclamation triangle icon" />
            <h4></h4>
            {{errorMessage}}
            <h1></h1>
            Your pedestrian name will not be saved.
          </div>
        {{/if}}
      </div>
      <div class="ui segment">
        <label>Choose a <b>CARLA</b> Pedestrian Model</label>
        <div class="ui fluid search selection dropdown">
          <input type="hidden" name="pedestrianModel" />
          <i class="dropdown icon"></i>
          <div class="default text">Select Pedestrian Model</div>
          <div class="menu" style="overflow: hidden">
            {{#each pedestrianModels as |model|}}
              <div
                class="item"
                data-value="{{model.id}}"
                {{action "selectModel" model}}
                style="overflow: hidden;"
              >
                <img class="ui avatar image" src="{{model.imageUrl}}" />
                {{model.name}}

              </div>
            {{/each}}
          </div>
        </div>

        {{! Zeigt das ausgewählte Bild an }}
        {{#if selectedModel}}
          <div class="ui segment">
            <img
              src="{{selectedModel.imageUrl}}"
              alt="{{selectedModel.name}}"
              class="ui medium rounded image"
            />
            <p>{{selectedModel.name}}</p>

          </div>
        {{/if}}

        <p style="color: grey;">
          You can visit CARLA's documentation on the pedestrian catalogue.
          <a
            href="https://carla.readthedocs.io/en/0.9.15/catalogue_pedestrians/"
            target="_blank"
            style="color: #0097ee; text-decoration: underline;"
          >See more models</a>
        </p>
      </div>

    </div>

  {{/if}}

  {{#if (eq this.showProperties "vehicle")}}
    <!-- Vehicle Editor -->
    <p class="node-adder-class title-behaviors">
      <i class="car icon"></i>
      <b>Vehicle Editor</b>
    </p>

    <!-- Input-Feld für Vehicle Name -->
    <div class="ui form">
      <div local-class="pad">
        <div class="field">
          <label>
            <i class="edit icon" />
            Vehicle Name
          </label>
          {{input
            type="text"
            placeholder=this.vehicle.description
            value=this.vehicle.description
            oninput=(action (mut this.vehicle.description) value="target.value")
            focus-out=(action "inputFocusOut")
            focus-in=(action "inputFocusIn")
            key-up=(action "checkPathDescription")
          }}
        </div>
        {{#if hasError}}
          <div class="ui pointing red basic label">
            <i class="exclamation triangle icon" />
            <h4></h4>
            {{errorMessage}}
            <h1></h1>
            Your vehicle name will not be saved.
          </div>
        {{/if}}
      </div>

      <div class="ui segment">
        <label>Choose a <b>CARLA</b> Vehicle Model</label>
        <div class="ui fluid search selection dropdown">
          <input type="hidden" name="vehicleModel" />
          <i class="dropdown icon"></i>
          <div class="default text">Select Vehicle Model</div>
          <div class="menu" style="overflow: hidden">

            <!-- Car Section -->
            <div class="item disabled"><b>Cars</b></div>
            {{#each carModels as |model|}}
              <div
                class="item"
                data-value="{{model.id}}"
                {{action "selectModel" model}}
                style="overflow: hidden;"
              >
                {{model.name}}
              </div>
            {{/each}}

            <!-- Truck Section -->
            <div class="item disabled"><b>Trucks</b></div>
            {{#each truckModels as |model|}}
              <div
                class="item"
                data-value="{{model.id}}"
                {{action "selectModel" model}}
                style="overflow: hidden;"
              >
                {{model.name}}
              </div>
            {{/each}}

            <!-- Van Section -->
            <div class="item disabled"><b>Vans</b></div>
            {{#each vanModels as |model|}}
              <div
                class="item"
                data-value="{{model.id}}"
                {{action "selectModel" model}}
                style="overflow: hidden;"
              >
                {{model.name}}
              </div>
            {{/each}}

            <!-- Bus Section -->
            <div class="item disabled"><b>Buses</b></div>
            {{#each busModels as |model|}}
              <div
                class="item"
                data-value="{{model.id}}"
                {{action "selectModel" model}}
                style="overflow: hidden;"
              >
                {{model.name}}
              </div>
            {{/each}}

            <!-- Motorcycle Section -->
            <div class="item disabled"><b>Motorcycles</b></div>
            {{#each motorcycleModels as |model|}}
              <div
                class="item"
                data-value="{{model.id}}"
                {{action "selectModel" model}}
                style="overflow: hidden;"
              >
                {{model.name}}
              </div>
            {{/each}}

            <!-- Bicycle Section -->
            <div class="item disabled"><b>Bicycles</b></div>
            {{#each bicycleModels as |model|}}
              <div
                class="item"
                data-value="{{model.id}}"
                {{action "selectModel" model}}
                style="overflow: hidden;"
              >
                {{model.name}}
              </div>
            {{/each}}
          </div>
        </div>

        {{! Zeigt das ausgewählte Bild an }}
        {{#if selectedModel}}
          <div class="ui segment">
            <img
              src="{{selectedModel.imageUrl}}"
              alt="{{selectedModel.name}}"
              class="ui medium rounded image"
            />
            <p>{{selectedModel.name}}</p>
          </div>
        {{else}}
          <div class="ui segment">
            <img
              src="/assets/carjan/carjan-maps/images/carla.png"
              alt="Carla"
              local-class="carla-image"
            />
          </div>
        {{/if}}

        <p style="color: grey;">
          You can visit CARLA's documentation on the vehicle catalogue.
          <a
            href="https://carla.readthedocs.io/en/0.9.15/catalogue_vehicles/"
            target="_blank"
            style="color: #0097ee; text-decoration: underline;"
          >See more models</a>
        </p>
      </div>

    </div>
  {{/if}}

  {{#if (eq this.showProperties "scenario")}}
    <p class="node-adder-class title-behaviors">
      <i class="map outline icon"></i>
      <b>Scenario Properties</b>
    </p>
    <p class="active title composite-selection">
      <i class="info circle icon" style="margin-left: 4px"></i>
      Select global properties for the scenario.
    </p>
    <div class="ui form">
      <div local-class="pad">
        <div class="field">
          <label>Weather</label>
          <div class="ui selection dropdown" onchange={{action "setWeather"}}>
            <input type="hidden" name="weather" />
            <i class="dropdown icon" />
            <div class="text">
              {{#if (eq carjanState.weather "Clear")}}
                Clear
              {{else if (eq carjanState.weather "Rainy")}}
                Rainy
              {{else if (eq carjanState.weather "Foggy")}}
                Foggy
              {{else}}
                Select Weather
              {{/if}}
            </div>
            <div class="menu">
              <div class="item" data-value="Clear">Clear</div>
              <div class="item" data-value="Rainy">Rainy</div>
              <div class="item" data-value="Foggy">Foggy</div>
            </div>
          </div>
        </div>
      </div>

      <div local-class="pad">
        <div class="field">
          <label>Camera Angle</label>
          <div
            class="ui selection dropdown"
            onchange={{action "setCameraPosition"}}
          >
            <input type="hidden" name="cameraPosition" />
            <i class="dropdown icon" />
            <div class="text">
              {{#if (eq carjanState.cameraPosition "up")}}
                <i class="video icon rotated counterclockwise" />Up
              {{else if (eq carjanState.cameraPosition "down")}}
                <i class="video icon rotated clockwise" />Down
              {{else if (eq carjanState.cameraPosition "left")}}
                <i class="video icon flipped horizontally" />Left
              {{else if (eq carjanState.cameraPosition "right")}}
                <i class="video icon" />Right
              {{else}}
                Select Camera Position
              {{/if}}
            </div>
            <div class="menu">
              <div class="item" data-value="up"><i
                  class="video icon rotated counterclockwise"
                />Up</div>
              <div class="item" data-value="down"><i
                  class="video icon rotated clockwise"
                />Down</div>
              <div class="item" data-value="left"><i
                  class="video icon flipped horizontally"
                />Left</div>
              <div class="item" data-value="right"><i
                  class="video icon"
                />Right</div>
            </div>
          </div>
        </div>
      </div>
      <div style="margin: 20px;"></div>
    </div>
  {{/if}}
{{/if}}

{{#if isDeletePathDialogOpen}}
  <div class="ui dimmer modals page">
    <div class="ui small basic modal transition" local-class="center-modal">
      <div class="header">
        <i class="trash alternate icon"></i>
        Confirm Path Deletion
      </div>
      <div class="content">
        <p>
          Are you sure you want to delete the path
          <strong>"{{selectedPath.description}}"</strong>?
        </p>
        <p>
          This action cannot be undone.
        </p>
      </div>
      <div class="actions">
        <button class="ui red cancel button" {{action "confirmPathDelete"}}>
          <i class="check icon"></i>
          Confirm
        </button>
        <button class="ui cancel button" {{action "cancelPathDelete"}}>
          Cancel
        </button>
      </div>
    </div>
  </div>
{{/if}}

{{#if isDrawPathModalOpen}}
  <div class="ui dimmer modals page">
    <div local-class="marge">
      <div
        class="ui small draw-path modal transition"
        local-class="center-modal marge"
      >
        <div class="header">
          <i class="pencil alternate icon"></i>
          Draw Path Mode
        </div>
        <div class="scrolling content">
          {{services/carjan/carjan-item}}
        </div>
        <div class="actions">
          <button class="ui green cancel button" {{action "confirmDrawPath"}}>
            <i class="check icon"></i>
            Confirm
          </button>
          <button class="ui button" {{action "retryDrawing"}}>
            <i class="undo icon"></i>
            Retry
          </button>
          <button class="ui cancel red button" {{action "closeDrawPathModal"}}>
            <i class="trash icon"></i>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
{{/if}}