<div class="ui top attached tabular menu">
  <a class="active item" data-tab="paths">Paths</a>
  <a class="item" data-tab="waypoints">Waypoints</a>
</div>

<!-- Paths Tab -->
<div class="ui bottom attached active tab segment" data-tab="paths">
  <p class="node-adder-class title-behaviors">
    <i class="share alternate icon"></i>
    <b>Path Selection</b>
  </p>

  <div class="ui items" id="paths-list">
    {{#each paths as |path|}}
      <div class="item">
        <div class="content">
          <div class="header">
            {{path.name}}
          </div>
          <div class="description">
            Description:
            {{path.description}}
          </div>
          <div class="extra">
            <div>Waypoints in Path:</div>
            <div class="ui steps">
              {{#each path.waypoints as |waypoint|}}
                <div class="link step">
                  <i class="map pin icon"></i>
                  <div class="content">
                    <div class="title">
                      {{waypoint.waypointId}}
                    </div>
                    <div class="description">Position: ({{waypoint.x}},
                      {{waypoint.y}})</div>
                  </div>
                </div>
              {{/each}}
            </div>

          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <!-- Button to add a new Path -->
  <button class="ui button" id="add-path" {{action "addPath"}}>
    <i class="plus icon"></i>
    New Path
  </button>
</div>

<!-- Waypoints Tab -->
<div class="ui bottom attached tab segment" data-tab="waypoints">
  <p class="node-adder-class title-behaviors">
    <i class="map pin icon"></i>
    <b>Waypoint Selection</b>
  </p>
  <p class="active title composite-selection">
    <i class="info circle icon" style="margin-left: 4px"></i>
    Drag & Drop a Waypoint onto the canvas.
  </p>

  <div class="content">
    <!-- Standardmäßiger Drag-and-Drop-Bereich für neue Waypoints -->
    <div class="ui items" local-class="waypoint-selection-container">
      <div local-class="waypoint-panel">
        <div class="ui items" local-class="waypoint-item" style="margin: 0;">
          <div local-class="waypoint-image">
            <i
              id="map-pin-icon"
              class="icon map pin"
              style="font-size: 48px;"
            ></i>
          </div>
          <div local-class="waypoint-content">
            <a local-class="waypoint-header">New Waypoint</a>
          </div>
        </div>

        <div
          local-class="drag-overlay"
          draggable="true"
          data-waypoint-type="waypoint"
          ondragstart={{action "dragStart"}}
          ondragleave={{action "dragLeave"}}
          style="position:absolute; top:0; left:0; width:100%; height:100%"
        ></div>
      </div>
    </div>

    <!-- Liste der bestehenden Waypoints -->
    <h4>Existing Waypoints</h4>
    <div class="ui items" id="existing-waypoints-list">
      {{#each waypoints as |waypoint|}}
        <div class="item">
          <div class="content">
            <div class="header">{{waypoint.waypointId}}</div>
            <div class="description">
              Coordinates: ({{waypoint.x}},
              {{waypoint.y}})
              {{#if waypoint.waitTime}}
                | Wait Time:
                {{waypoint.waitTime}}s
              {{/if}}
              {{#if waypoint.positionInCell}}
                | Position in Cell:
                {{waypoint.positionInCell}}
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>