<div>
  <input
    type="file"
    accept=".ttl"
    id="fileInput"
    style="display:none"
    onchange={{action "handleFile"}}
  />
  <div class="button-container">
    <button
      class="ui primary button"
      style="margin-bottom: 32px"
      {{action "uploadFile"}}
    >
      <i class="upload icon"></i>
      Upload Scenario
    </button>

    <button
      class="ui primary button sticky-save"
      {{action "triggerSaveScenario"}}
    >
      <i class="save icon" />
      Save Scenario & Reset
    </button>

    <button class="ui primary button sticky-save" {{action "downloadTurtle"}}>
      <i class="download icon" />
      Download
    </button>

    {{#ui-dropdown
      class="fluid search selection bt-selection"
      allowAdditions=true
      fullTextSearch=true
      sortSelected=true
      selected=selectedValueName
      onChange=(action (mut selectedValue))
    }}
      <div class="default text">Select Scenario Map</div>
      <i class="dropdown icon" />
      <div class="menu" id="bt-select">

        <button
          class="ui primary button sticky-save"
          {{action "switchMap" "map01"}}
        >
          <i class="download icon" />
          Map 01
        </button>

        <button
          class="ui primary button sticky-save"
          {{action "switchMap" "map02"}}
        >
          <i class="download icon" />
          Map 02
        </button>
      </div>
    {{/ui-dropdown}}

  </div>

  <!-- Toast-Nachricht -->
  <div id="toast" class="toast" style="display: none;">
    <i class="spinner loading icon"></i>
    Speichern...
  </div>

</div>