<div id="viewport">
  <div id="room">
    <div
      id="gridContainer"
      ondrop={{action "dropOnBackground"}}
      ondragover={{action "allowDrop"}}
    >
      {{#each gridCells as |cell|}}
        <div
          class="grid-cell"
          data-row={{cell.row}}
          data-col={{cell.col}}
          draggable="true"
          ondrop={{action "dropOnCell"}}
          ondragover={{action "allowDrop"}}
          ondragleave={{action "dragLeave"}}
          ondragstart={{action "dragStart"}}
        />
      {{/each}}
    </div>
  </div>
</div>
<div id="car-icon">
  <i class="icon car"></i>
</div>

<div id="pedestrian-icon">
  <i class="icon user"></i>
</div>

<div id="autonomous-icon">
  <i class="icon taxi"></i>
</div>

<div id="obstacle-icon">
  <i class="icon tree"></i>
</div>

<div id="map-icon">
  <i class="icon map marker alternate"></i>
</div>