<p class="node-adder-class title-behaviors">
  <i class="taxi icon"></i>
  <b>CARLA Simulator</b>
</p>

<div local-class="row-container">
  <div class="ui segment">
    <div local-class="button-container">
      <button
        {{action "openCarlaModal"}}
        local-class="button-panel"
        class="ui big green button"
      >
        <i class="play icon"></i>
        Simulate in CARLA
      </button>
    </div>
  </div>

  <img
    src="/assets/carjan/carjan-maps/images/carla.png"
    alt="Carla"
    local-class="carla-image"
  />
</div>

{{#if isDialogOpen}}
  <div class="ui dimmer modals page">
    <div
      class="ui fullscreen basic modal transition"
      local-class="center-modal"
    >
      <div class="header">
        <i class="icon cogs"></i>
        Starting Services
      </div>
      <div class="content">
        <div class="ui three column grid">
          <div class="column">
            <!-- Content for the first column -->
          </div>
          <div class="column">
            <!-- Content for the second column -->
            <div local-class="stepper">
              <!-- Step 1: Starting Flask -->
              <div local-class="step">
                {{#if (eq step1Status "loading")}}
                  <div class="ui active inline loader"></div>
                {{else if (eq step1Status "completed")}}
                  <i class="check green icon"></i>
                {{else if (eq step1Status "error")}}
                  <i class="exclamation triangle orange icon"></i>
                {{else if (eq step1Status "idle")}}
                  <i class="ellipsis horizontal icon"></i>
                {{/if}}
                <span>Starting Flask</span>
              </div>

              <!-- Step 2: Starting CARLA -->
              <div local-class="step">
                {{#if (eq step2Status "loading")}}
                  <div class="ui active inline loader"></div>
                {{else if (eq step2Status "idle")}}
                  <i class="ellipsis horizontal icon"></i>
                {{else if (eq step2Status "completed")}}
                  <i class="check green icon"></i>
                {{else if (eq step2Status "error")}}
                  <i class="exclamation triangle orange icon"></i>
                  <div class="ui red message">{{errorMessage}}</div>
                  <div class="field">
                    <div class="ui form">
                      {{input
                        style="margin-top: 12px;"
                        value=carlaPath
                        placeholder="Enter CARLA executable path"
                      }}
                    </div>
                  </div>
                  <button
                    class="ui button"
                    style="margin-top: 12px;"
                    {{action "handleStartCarla"}}
                  >
                    <i class="redo icon"></i>
                    Retry
                  </button>
                {{/if}}
                <span>Starting Carla</span>
              </div>

              <!-- Step 3: Loading Scenario -->
              <div local-class="step">
                {{#if (eq carjanState.step3Status "loading")}}
                  <div class="ui active inline loader"></div>
                {{else if (eq carjanState.step3Status "idle")}}
                  <i class="ellipsis horizontal icon"></i>
                {{else if (eq carjanState.step3Status "completed")}}
                  <i class="check green icon"></i>
                {{else if (eq carjanState.step3Status "error")}}
                  <i class="exclamation triangle orange icon"></i>
                {{/if}}
                <span>Loading Scenario</span>
              </div>
            </div>
            <div class="actions">
              <button
                class="ui green button"
                {{action "startSimulation"}}
                disabled={{not
                  (and
                    (eq step1Status "completed")
                    (eq step2Status "completed")
                    (eq carjanState.step3Status "completed")
                  )
                }}
              >
                <i class="play icon"></i>
                Start Simulation
              </button>
              <button
                class="ui red cancel button"
                {{action "closeCarlaDialog"}}
              >
                <i class="icon x"></i>
                Cancel
              </button>
            </div>
          </div>

          <div class="column">
            <!-- Content for the third column -->
            <!-- Semantic UI Tabs -->
            {{#if (eq carjanState.step3Status "completed")}}
              <div
                class="ui top attached tabular menu"
                style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px 5px 0 0;"
              >
                {{#each carjanState.agentData as |agent index|}}
                  <a
                    class="item {{if (eq index 0) 'active'}}"
                    data-tab="tab-{{index}}"
                    style="font-weight: bold;"
                  >
                    {{agent.label}}
                  </a>
                {{/each}}
              </div>
              {{#each carjanState.agentData as |agent index|}}
                <div
                  class="ui bottom attached tab segment
                    {{if (eq index 0) 'active'}}
                    iframe-container"
                  data-tab="tab-{{index}}"
                >
                  <iframe
                    id="carla-iframe-{{index}}"
                    src=""
                    width="100%"
                    height="600px"
                    frameborder="0"
                    allowfullscreen
                    class="carla-iframe"
                  ></iframe>
                </div>
              {{/each}}

            {{/if}}
          </div>
        </div>

      </div>

    </div>
  </div>
{{/if}}