<div id="viewport">
  <div id="room">
    <div
      id="gridContainer"
      ondrop={{action "dropOnBackground"}}
      ondragover={{action "allowDrop"}}
    >
      <div id="overlay" local-class="overlay" hidden></div>
      {{#each gridCells as |cell|}}
        <div
          class="grid-cell"
          data-row={{cell.row}}
          data-col={{cell.col}}
          draggable="true"
          ondrop={{action "dropOnCell"}}
          ondragover={{action "allowDrop"}}
          ondragleave={{action "dragLeave"}}
          ondragstart={{action "dragStart"}}
        />
      {{/each}}
      <i class="video icon" id="cameraIcon"></i>
    </div>
  </div>
</div>