<div>
  <p class="node-adder-class title-behaviors">
    <i class="cog icon"></i>
    Properties
  </p>
  <input
    type="file"
    accept=".ttl"
    id="fileInput"
    style="display:none"
    onchange={{action "handleFile"}}
  />

  <input
    type="file"
    id="scenarioFileInput"
    accept=".ttl"
    onchange={{action "handleScenario"}}
    style="display: none;"
  />
  {{#ui-accordion exclusive=false}}
    <div class="active title composite-selection">
      <i class="dropdown icon" />
      <i class="save icon" /><b><font size="3">File Management</font></b>
    </div>
    <select onchange={{action "scenarioSelected" value="target.value"}}>
      {{#each availableScenarios as |scenario|}}
        <option value="{{scenario}}">{{scenario}}</option>
      {{/each}}
    </select>

    <div local-class="button-container">
      <button class="ui primary button" {{action "uploadFile"}}>
        <i class="upload icon"></i>
        Upload Scenario Repository
      </button>

      <button class="ui primary button" {{action "uploadScenario"}}>
        <i class="upload icon"></i>
        Upload Scenario File
      </button>

      <button
        class="ui primary button sticky-save"
        {{action "triggerSaveScenario"}}
      >
        <i class="save icon" />
        Save Scenario & Reset
      </button>

      <button class="ui primary button sticky-save" {{action "downloadTurtle"}}>
        <i class="download icon" />
        Download Repository
      </button>

      <button
        class="ui primary button sticky-save"
        {{action "downloadScenario"}}
      >
        Download Scenario
      </button>

    </div>

  {{/ui-accordion}}

</div>