<div class="ui top attached tabular menu">
  <a class="active item" data-tab="paths">Paths</a>
  <a class="item" data-tab="waypoints">Waypoints</a>
</div>

<!-- Paths Tab -->
<div class="ui bottom attached active tab segment" data-tab="paths">
  <p class="node-adder-class title-behaviors">
    <i class="share alternate icon"></i>
    <b>Path Selection</b>
  </p>

  <!-- Button to add a new Path -->
  <button
    class="ui secondary button"
    id="add-path"
    {{action "openNewPathDialog"}}
  >
    <i class="plus icon"></i>
    New Path
  </button>
  <div id="error-message" class="toast message negative container">Test toast!
    BZTT</div>

  <div
    class="ui items"
    id="paths-list"
    local-class="waypoint-selection-container"
  >
    {{#each pathsWithWaypoints as |path|}}
      <div
        local-class="waypoint-panel-main"
        style="margin-bottom: 12px;"
        {{action "openPathwayEditor" path}}
      >
        <div local-class="waypoint-panel-triangle" id={{path.path}}>
          <div class="item">
            <div class="content" local-class="content-small">
              <div local-class="description">
                <i class="icon share alternate"></i>
                {{path.description}}
              </div>
              <div class="extra">
                <div class="ui breadcrumb">
                  <i class="icon arrow right"></i>

                  {{#each path.firstTwoWaypoints as |waypoint|}}
                    <i class="right angle icon divider"></i>
                    <div class="section">
                      <div local-class="waypoint-panel">
                        <div
                          class="ui items"
                          local-class="waypoint-item"
                          style="margin: 0;"
                        >
                          <div class="content">
                            <div class="title">
                              <i class="map pin icon"></i>
                              ({{waypoint.x}},
                              {{waypoint.y}})
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/each}}

                  <i class="right angle icon divider"></i>
                  {{#if path.hasMoreThanTwoWaypoints}}
                    <div class="section">...</div>
                    <i class="right angle icon divider"></i>
                  {{/if}}

                  <i class="icon flag outline"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>

<!-- Waypoints Tab -->
<div class="ui bottom attached tab segment" data-tab="waypoints">
  <p class="node-adder-class title-behaviors">
    <i class="map pin icon"></i>
    <b>Waypoint Selection</b>
  </p>
  <p class="active title composite-selection">
    <i class="info circle icon" style="margin-left: 4px"></i>
    Drag & Drop a Waypoint onto the canvas.
  </p>

  <div class="content">
    <!-- Standardmäßiger Drag-and-Drop-Bereich für neue Waypoints -->
    <div class="ui items" local-class="waypoint-selection-container">
      <div local-class="waypoint-panel">
        <div class="ui items" local-class="waypoint-item" style="margin: 0;">
          <div local-class="waypoint-image">
            <i
              id="map-pin-icon"
              class="icon map pin"
              style="font-size: 48px;"
            ></i>
          </div>
          <div local-class="waypoint-content">
            <a local-class="waypoint-header">New Waypoint</a>
          </div>
        </div>

        <div
          local-class="drag-overlay"
          draggable="true"
          data-waypoint-type="waypoint"
          ondragstart={{action "dragStart"}}
          ondragleave={{action "dragLeave"}}
          style="position:absolute; top:0; left:0; width:100%; height:100%"
        ></div>
      </div>
    </div>

    <!-- Liste der bestehenden Waypoints -->
    <h4>Existing Waypoints</h4>
    <div class="ui items" id="existing-waypoints-list">
      {{#each waypoints as |waypoint|}}
        <div class="item">
          <div class="content">
            <div class="header">{{waypoint.waypointId}}</div>
            <div class="description">
              Coordinates: ({{waypoint.x}},
              {{waypoint.y}})
              {{#if waypoint.waitTime}}
                | Wait Time:
                {{waypoint.waitTime}}s
              {{/if}}
              {{#if waypoint.positionInCell}}
                | Position in Cell:
                {{waypoint.positionInCell}}
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{#if isDialogOpen}}
  <div class="ui dimmer modals page">
    <div class="ui small basic modal transition" local-class="center-modal">

      <div class="header"><i class="share alternate icon"></i>
        Create your New Path
      </div>
      <div class="content">
        <div class="ui form">
          <div class="field {{if hasError 'error'}}">
            <p>
              <i class="edit icon" />
              Enter the description of your new Path.
            </p>
            {{input
              value=pathDescription
              placeholder=placeholderText
              key-up=(action "checkPathName")
            }}
            {{#if hasError}}
              <div class="ui pointing red basic label">
                <i class="exclamation triangle icon" />
                {{errorMessage}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="actions">
        <button
          class="ui green cancel button"
          {{action "generateNewPath"}}
          disabled={{isDisabled}}
        >
          <i class="check icon"></i>
          Confirm
        </button>

        <button class="ui cancel button" {{action "closeNewPathDialog"}}>
          Cancel
        </button>
      </div>
    </div>
  </div>
{{/if}}