
{{#behaviors/properties/parameter-wrapper
  title=parameter.title
  removeButtonAction=removeButtonAction
  ignore=type.query
}}

  {{#if type.integer}}
    {{component 'behaviors/properties/parameter/integer-field'
      class="flexed-input"
      value=value
    }}
  {{else if type.boolean}}
    {{component 'behaviors/properties/parameter/boolean-field'
      class="flexed-input"
      value=value
    }}
  {{else if type.uri}}
    {{component 'behaviors/properties/parameter/uri-field'
      class="flexed-input"
      value=value
    }}
  {{else if type.string}}
    {{component 'behaviors/properties/parameter/string-field'
      class="flexed-input"
      value=value
    }}
  {{else if type.float}}
    {{component 'behaviors/properties/parameter/float-field'
      class="flexed-input"
      value=value
    }}
 {{else if type.actndef}}
    {{component 'behaviors/properties/parameter/actn-field'
      class="flexed-input"
      value=value
      uri=uri
      structure=parameter
      title=parameter.title
    }}
  {{else if type.repo}}
    {{component 'behaviors/properties/parameter/repo-field'
      class="flexed-input"
      value=value
      uri=uri
      structure=parameter
      title=parameter.title
    }}
  {{else if type.query}}
    {{#if casualMode}}
      {{component 'behaviors/properties-casual/parameter/query-field'
        class="flexed-input"
        uri=value
        structure=parameter
        removeButtonAction=removeButtonAction
        title=parameter.title
        casualMode=casualMode
      }}
    {{else}}
      {{component 'behaviors/properties/parameter/query-field'
        class="flexed-input"
        uri=value
        structure=parameter
        removeButtonAction=removeButtonAction
        title=parameter.title
        casualMode=casualMode
      }}
    {{/if}}


  {{else}}
    <!-- Default -->
    <div class="flexed-input">
      Could not identify type {{parameter.input}}
    </div>
  {{/if}}

{{/behaviors/properties/parameter-wrapper}}
