<!-- Import external css -->
{{ui/css-imports}}

<div class="flex-body">
  {{#unless hideNav}}

    <div class="flex-horizontal" local-class="navbar container">

      {{#ui/nav-bar/button
        class="img"
        link="index"
        description="Return to the repository selection"
      }}
        <div local-class="navbar img">
          <img src="/assets/images/AJAN-Logo-TB.png" local-class="img-ajan" alt="AJAN">
        </div>
      {{/ui/nav-bar/button}}

      {{ui/nav-bar/button
        label="Agents"
        link="editor.agents"
        description="Manage the agent templates"
      }}

      {{ui/nav-bar/button
        class="rightmost item-left"
        label="Domain"
        link="editor.domain"
        description="Manage domain knowledge"
      }}

      {{ui/nav-bar/button
        label="Behaviors"
        link="editor.behaviors"
        description="Modify agent behaviors"
      }}

      {{ui/nav-bar/button
        label="Actions"
        link="editor.services"
        description="Manage available agent actions"
      }}

      {{ui/nav-bar/button
        label="Queries"
        link="editor.queries"
        description="Access the SPARQL editor"
      }}

      {{ui/nav-bar/button
        label="Definitions"
        link="editor.definitions"
        description="Manage editorwide definitions"
      }}

      {{ui/nav-bar/button
        class="rightmost"
        label="About"
        link="about"
        description="About the AJAN Editor"
      }}

    </div>

  {{/unless}}

  <div class="main-container flex-content {{if inDefinitionsRoute "tab-box"}}">
    {{outlet}}
  </div>
</div>
